<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Transfer USB Data</title>
<!-- All scripts go below this! -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="application/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="application/javascript"></script>
<!-- All scripts are above this! -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="container-fluid" align="center">
			<h1>USB File Transfer</h1>
		
		<div class="jumbotron">
			{% if files_existing %}
				<!-- Code to open a box and get the files here -->
				<p>Files being downloaded:
					{% for file in files_existing %}
						<p><b>{{ file.file }}: </b><!-- {{ file.file_desc }} --></p><br/>
					{% endfor  %}
				<form action='../return_USB/' method="post" name="InitUSB">
				{% csrf_token %}
					<!--input type="submit" value="Download Files" class = "btn btn-info {{ btn_check_flag }}" align="center"-->
					{% if show_output %}
					<!--{% for file in files_existing %} -->
					<form action='../transfer/' method="post" name="TransferFiles">
					{% csrf_token %}

						
							<input type="hidden" value="{{ current_count }}" name="file_descriptor">
							<p><script tyoe="application/javascript">
								document.TransferFiles.submit();
							</script></p>
						<div class = "progress">
							<div class = "progress-bar progress-bar-striped active" role="progressbar" aria-valuenow = "{{ percentage_done }}" aria-valuemin = "0" aria-valuemax="100"
									style = "width:{{ percentage_done }}%">{{ percentage_done }}%
							</div>
						</div>
						

					</form>
					<!--{% endfor %}-->
					{% endif %}
				</form>
				{% if download_more %}
						{% else %}
							<p>All Files have been transferred to the Raspberry Pi</p>
						{% endif %}
			{% else %}
				<!-- Code to tell the user to come back later here -->
				<p algin="center">No new files are available through the USB. Insert new USB and refresh.<p>
			{% endif %}
		</div>
		</div>
	</body>
</html>